<img src="img/sala1.jpg" class="fondo">
	<!-- PRIMERA FILA DE STAND DE AGROINDUSTRIA -->
	<img src="img/stand.png" class="stand agro1" alt="">
	<img src="img/stand.png" class="stand agro2" alt="">
	<img src="img/stand.png" class="stand agro3" alt="">
	<img src="img/stand.png" class="stand agro4" alt="">
	<img src="img/stand.png" class="stand agro5" alt="">
	<img src="img/stand.png" class="stand agro6" alt="">

	<!-- SEGUNDA FILA DE STAND DE AGROINDUSTRIA -->
	<img src="img/stand.png" class="stand agro7" alt="">
	<img src="img/stand.png" class="stand agro8" alt="">
	<img src="img/stand.png" class="stand agro9" alt="">
	<img src="img/stand.png" class="stand agro10" alt="">
	<img src="img/stand.png" class="stand agro11" alt="">
	<img src="img/stand.png" class="stand agro12" alt="">

	<!-- TERCERA FILA DE STAND DE AGROINDUSTRIA -->
	<img src="img/stand.png" class="stand agro13" alt="">
	<img src="img/stand.png" class="stand agro14" alt="">
	<img src="img/stand.png" class="stand agro15" alt="">
	<img src="img/stand.png" class="stand agro16" alt="">

	<!-- PRIMERA FILA DE STAND DE ALIMENTOS -->
	<img src="img/stand.png" class="stand alim1" alt="">
	<img src="img/stand.png" class="stand alim2" alt="">
	<img src="img/stand.png" class="stand alim3" alt="">
	<img src="img/stand.png" class="stand alim4" alt="">
	<img src="img/stand.png" class="stand alim5" alt="">

	<!-- SEGUNDA FILA DE STAND DE ALIMENTOS -->
	<img src="img/stand.png" class="stand alim6" alt="">
	<img src="img/stand.png" class="stand alim7" alt="">
	<img src="img/stand.png" class="stand alim8" alt="">
	<img src="img/stand.png" class="stand alim9" alt="">

	<!-- TERCERA FILA DE STAND DE ALIMENTOS -->
	<img src="img/stand.png" class="stand alim10" alt="">
	<img src="img/stand.png" class="stand alim11" alt="">
